.expandable {
	position: relative;
}

.expandableMenu {
	position: absolute;
	top: calc(100% + 0.1rem);
	right: 0;
	border: 1px solid gray;
	border-radius: 0.5rem;
	background-color: aliceblue;
	box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
	overflow: hidden;
}

.menuItem {
	white-space: nowrap;
	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
	padding: 0.5rem 0.75rem;
}

.menuItem:hover {
	color: dodgerblue;
	background-color: rgb(222, 240, 252);
}
