@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Poppins', 'Trebuchet MS', 'Helvetica', sans-serif;
}

.table-cell {
	@apply px-2 py-1 first:pl-4 last:pr-4;
}
